environment:
  global:
    PYTHON: "C:\\conda"
    MINICONDA_VERSION: "latest"
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci-helpers\\appveyor\\windows_sdk.cmd"
    CONDA_DEPENDENCIES: "sphinx numpy pillow coveralls coverage"
    CONDA_CHANNELS: "conda-forge"
    TWINE_USERNAME: "dhoese"

  matrix:

    - PYTHON: "C:\\Python27_32"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "32"
      NUMPY_VERSION: "stable"
      CIBUILDWHEEL: 0

    - CIBW_TEST_REQUIRES: "numpy pillow"
      CIBW_TEST_COMMAND: "python {project}\\selftest.py"
      CIBUILDWHEEL: 1

    - PYTHON: "C:\\Python27_64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "64"
      NUMPY_VERSION: "stable"
      CIBUILDWHEEL: 0

    - PYTHON: "C:\\Python36_32"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "32"
      NUMPY_VERSION: "stable"
      CIBUILDWHEEL: 0

    - PYTHON: "C:\\Python36_64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      NUMPY_VERSION: "stable"
      CIBUILDWHEEL: 0

install:
  - if [%CIBUILDWHEEL%]==[0] git clone --depth 1 git://github.com/astropy/ci-helpers.git
  - if [%CIBUILDWHEEL%]==[0] powershell ci-helpers/appveyor/install-miniconda.ps1
  - if [%CIBUILDWHEEL%]==[0] SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - if [%CIBUILDWHEEL%]==[0] activate test
  - if [%CIBUILDWHEEL%]==[0] conda info --envs
  
build: false  # Not a C# project, build stuff at the test step instead.

build_script:
  - if [%CIBUILDWHEEL%]==[1] pip install cibuildwheel==0.10.0
  - if [%CIBUILDWHEEL%]==[1] cibuildwheel --output-dir dist
  - if [%CIBUILDWHEEL%]==[1] powershell ci/appveyor-twine.ps1


test_script:
  - "%PYTHON%\\Scripts\\activate test"
  - echo PATH %PATH%
  - if [%CIBUILDWHEEL%]==[0] %CMD_IN_ENV% conda info --envs
  - if [%CIBUILDWHEEL%]==[0] %CMD_IN_ENV% python -c "import sys;print(sys.executable)"
  - if [%CIBUILDWHEEL%]==[0] %CMD_IN_ENV% %PYTHON%\\envs\\test\\python.exe -c "import sys;print(sys.executable)"
  - if [%CIBUILDWHEEL%]==[0] %CMD_IN_ENV% pip install -e .
  - if [%CIBUILDWHEEL%]==[0] %CMD_IN_ENV% python selftest.py

after_test:
  - if [%CIBUILDWHEEL%]==[0] %CMD_IN_ENV% python setup.py bdist_wheel bdist_wininst
  - ps: "ls dist"

artifacts:
  # Archive the generated wheel package in the ci.appveyor.com build report.
  - path: dist\*

#on_success:
#  - TODO: upload the content of dist/*.whl to a public wheelhouse
#
